
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: DM Sans;

    width: auto;
     margin: 0;
  padding: 0;
  width: 100%;
 
   
}
.placeholder-text::placeholder {
  font-size: 18px; 

}
.bg{
  background: #1E0E62;

}


