
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: DM Sans;
    background-color: #2F1893;
    overflow-x: hidden;
 
   
}
.placeholder-text::placeholder {
  font-size: 18px; 

}
.bg{
  background: #1E0E62;

}


